{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{ range.Data.Pages.ByDate }}
<article class="row">
        <div class='short-collumn'>

            {{ with .Params.imgpath }} 
            <img src = "/projects/{{.}}" class='hobby-img' alt='I am imageless'/>   
            {{end}}
        </div>
        <div class='long-collumn'>            
            <h3> <a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
            <p>{{ .Summary }}</p>
        </div>  
</article>
{{ end }}

{{ partial "footer.html" . }}


