<header class="site-header">
  <nav class="site-nav">
    <h1 class="logo">
    <a  href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
  </h1>
    <ul class="main-menu">

      {{$page_parent := index (split .Page.Permalink "/") 3}}
      {{ range .Site.Menus.main }}

      <li>
        <a 
        class="{{ if eq ($page_parent) (.Identifier) }}main-menu-active{{ end }}"
        href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
  </header>

